<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Sections setup -->
	<configSections>
		<!--<section name="EmailSettings" type="System.Configuration.NameValueSectionHandler"/>-->
		<section name="RetrySettings" type="System.Configuration.NameValueSectionHandler"/>
		<section name="HttpSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<!-- ConnectionStrings -->
	<connectionStrings>
		<add name="ConnString" providerName="System.Data.SqlServer" connectionString="Server=(localdb)\mssqllocaldb;Database=StBK_CheckRids;Trusted_Connection=True;MultipleActiveResultSets=true"/>
	</connectionStrings>
	
	<!-- Http settings -->
	<HttpSettings>
		<add key="HostUrl" value="https://steuerberaterverzeichnis.berufs-org.de/details"/>
	</HttpSettings>
	
	<!-- Retry settings -->
	<RetrySettings>
		<add key="RetryCount" value="5"/>
		<add key="RetryDelay" value="10.0"/>
	</RetrySettings>
</configuration>
